:root {
    --primary-color: rgb(255, 196, 0);
    --card-color: #e6e6e6;
    --card-color-text: #7d7d7d;
    --contrast: black;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --primary-color: rgba(255, 196, 0, 0.256);
      --card-color: #272727;
      --card-color-text: #bfbfbf;
      --contrast: white;
    }
  }