<ion-content>
  <div class="content">
    <img src="{{profileImage}}" class="profile-img">
    <ion-list>
      <ion-item>
        <div class="name">
          <h2>{{ userName }}</h2>
        </div>
      </ion-item>
      <ion-item>
        <a href="https://sv-studios.de/edit-account.html?token={{token}}"><ion-label>Konto verwalten</ion-label></a>
      </ion-item>
      <ion-item button (click)="signOut()">
        <ion-label>Abmelden</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
