
ion-toolbar {
  --background: var(--primary-color);
  --color: #FFFFFF;
  --padding-top: 14px;
  --padding-bottom: 14px;
}

ion-menu-button {
  --color: #FFFFFF;
}

.create {
  text-align: center;
}

.cb {
  --background: var(--card-color);
  --border-radius: 8px;
}

.list {
  margin-top: 16px;
}

ion-content {
  --background: url('/assets/images/back.png') no-repeat center center / cover;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}

.list {
  margin-top: 8px;
}

button {
  background-color: var(--card-color);
  width: 100%;
  display: block;
  margin-top: 8px;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: rgb(162, 162, 162);
  font-size: large;
  text-align: left;
  padding-left: 12px;
}

ion-button {
  --background: transparent;
  --color: rgb(162, 162, 162);
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
  --background-selected: transparent;
  --background-disabled: transparent;
  --border-color: transparent; /* Korrigiere Tippfehler hier */
  --box-shadow: none;
}


ion-icon {
  margin-right: 8px;
}

